p,h1{
    background-color: beige;
    
}
h2{
    background-color: aqua;

}
h3{
    color: beige;
}
h4{
    background-color: blueviolet;
}
h5{
    color: brown;
}
h6{
    background-color: beige;
}
.P6{
    background-color: blue;
}